@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Escuela Técnica Superior de Ingeniería de <br />
    SISTEMAS INFORMÁTICOS <br />
    Universidad Politécnica de Madrid<br />
    Calle Alan Turing s/n (Carretera de Valencia Km 7), 28031 Madrid.
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:o.morenos@alumnos.upm.es">o.morenos@alumnos.upm.es</a>
</address>